[submodule "third_party/HifiFace"]
	path = third_party/HifiFace
	url = https://github.com/maum-ai/hififace.git
[submodule "third_party/SimSwap"]
	path = third_party/SimSwap
	url = https://github.com/neuralchen/SimSwap.git
[submodule "third_party/FaceShifter"]
	path = third_party/FaceShifter
	url = https://github.com/richarduuz/Research_Project.git
[submodule "third_party/SepMark"]
	path = third_party/SepMark
	url = https://github.com/sh1newu/SepMark.git
[submodule "third_party/ArtificialGANFingerprints"]
	path = third_party/ArtificialGANFingerprints
	url = https://github.com/ningyu1991/ArtificialGANFingerprints.git
[submodule "third_party/DiffFace"]
	path = third_party/DiffFace
	url = https://github.com/hxngiee/DiffFace.git
[submodule "third_party/InstantID"]
	path = third_party/InstantID
	url = https://github.com/instantX-research/InstantID.git
